.color-controls {
  position: absolute;
  bottom: 3px;
  right: 2px;
}

.color-picker {
  padding-left: 3px;
  padding-right: 3px;
  text-shadow: none;
  cursor: pointer;
}

.canvas-control-item {
  padding-left: 5px;
  padding-right: 5px;
}
