<mat-grid-list cols="2" rowHeight="fit" style="height: calc(100vh - 8.5em)">
  <mat-grid-tile mat-ripple class="season-rainy" (click)="showSeason('rainy')">
    Monsoon (Rainy) Season
  </mat-grid-tile>
  <mat-grid-tile mat-ripple class="season-fall" (click)="showSeason('fall')">
    Autumn (Fall) Season
  </mat-grid-tile>
  <mat-grid-tile mat-ripple class="season-winter" (click)="showSeason('winter')">
    Winter Season
  </mat-grid-tile>
  <mat-grid-tile mat-ripple class="season-summer" (click)="showSeason('summer')">
    Summer Season
  </mat-grid-tile>
</mat-grid-list>
