<mat-card>
  <mat-card-header>
    Hello and Welcome to altlearner! This site is maintained by&nbsp;<a href="mailto:mail2amreshdas@gmail.com?subject=altlearner: ">Amresh Das</a>. Please email for any concerns / suggestions.
  </mat-card-header>
</mat-card>
<mat-card>
  <mat-card-header>About</mat-card-header>
  <mat-card-content>
    <div>Primary purpose of the site is to enable alternate learning for young / special children who require additional visual aid to make sense of the world around.</div>
    <div>Most available apps and games have flashy elements to them which make it attractive for young children to interact with them even when they are making the wrong choices.</div>
    <div>For that reason, this tones down the reinforcement aspects of wrong/correct answers in favor of parents giving them verbally / in person.</div>
    <div>These choices make the application parent oriented - to be used as a teaching aid more than a play thing.</div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>Disclaimer</mat-card-header>
  <mat-card-content>Some content - image and other multimedia - has been borrowed from resources online. The intention however is not commercial use.</mat-card-content>
</mat-card>
