.choices {
  font-size: 6em;
  text-shadow: 2px 1px;
}

.vowel-container, .consonant-container {
  height: 100%;
  width: 100%;
  color: gray;
  opacity: 60%;
  font-size: 2em;
  text-shadow: 1px 2px;
  border-radius: 10px;
  padding-top: 35px;
  z-index: 0;
}

.consonant-container {
}

.cdk-drag-preview {
  font-size: 15em;
  text-shadow: 2px 1px;
}

.success {
  color: white;
  background-color: forestgreen;
}

.selected {
  background-color: white;
  width: 20px;
}
