<mat-card>
  <mat-card-content *ngIf="resources"  fxLayout="row" fxLayoutAlign="center">
    <img *ngIf="resourceType() === 'image'" mat-card-image src="{{resource()}}" alt=""/>
    <audio *ngIf="resourceType() === 'audio'" controls autoplay>
      <source src="{{resource()}}" type="audio/mpeg">
    </audio>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="displayIndex == 0" mat-button><mat-icon (click)="prev()">arrow_left</mat-icon></button>
    <button [disabled]="displayIndex == count - 1" mat-button><mat-icon (click)="next()">arrow_right</mat-icon></button>
  </mat-card-actions>
  <mat-card-footer fxLayout="row" fxLayoutAlign="center">
    <mat-card-title class="word-tile">{{word}}</mat-card-title>
  </mat-card-footer>
</mat-card>
