.category {
  height: 90%;
  width: 90%;
  object-fit: cover;
  z-index: -1;
}

.mat-grid-list {
  height: 55vh;
}

.selection {
  width: 15vw;
  font-size: 2em;
  text-align: center;
}

.category-card {
}

.choice {
  object-fit: cover;
  height: 90%;
  width: 90%;
}

.other-choices {
  font-size: medium;
}

.cdk-drag-placeholder {
  display:none;
}

.cdk-overlay-container {
  z-index: 10000 !important;
}

.animal-result {
  width: 10%;
  height: 10%;
  object-fit: scale-down;
  position: absolute;
}

.cow { left: 437px; top: 280px; width: 8%; height: 8%}
.hen { left: 39px; top: 318px; width: 5%; height: 5%}
.sheep { left: 97px; top: 378px; width: 6%; height: 6%}
.cat { left: 433px; top: 475px; width: 7%; height: 7%}
.dog { left: 473px; top: 396px; width: 7%; height: 7%}
.horse { left: 233px; top: 317px; width: 12%; height: 12%}
.pig { left: 447px; top: 185px; width: 6%; height: 6%}
.lion { left: 342px; top: 366px; width: 13%; height: 13%}
.tiger { left: 16px; top: 276px; width: 10%; height: 10%}
.bear { left: 155px; top: 240px; width: 10%; height: 10%}
.elephant { left: 220px; top: 195px; width: 14%; height: 14%}
.dear { left: 290px; top: 250px; width: 10%; height: 10%}
.zebra { left: 340px; top: 280px; width: 10%; height: 10%}
.wolf { left: 265px; top: 560px; width: 8%; height: 8%}
