<h4>Which Animals are Domestic, Which are Wild?</h4>
<mat-grid-list fxLayout="row" fxLayoutAlign="center" [cols]="5" rowHeight="1:2">
  <mat-grid-tile colspan="2">
    <span id="domestic" #domesticHolder="cdkDropList" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="resultDomestic" [cdkDropListEnterPredicate]="isDomesticAllowed">
      <mat-card class="category-card">
        <mat-card-content>
          <img src="/assets/images/backgrounds/farm.png" class="category mat-elevation-z2"/>
          <img *ngFor="let animal of resultDomestic" [src]="'/assets/images/animals/' + animal + '.png'" class="animal-result {{animal}}"/>
        </mat-card-content>
      </mat-card>
    </span>
    <mat-grid-tile-footer>Domestic</mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <span #choiceHolder cdkDropList [cdkDropListData]="animals" [cdkDropListConnectedTo]="[domesticHolder, wildHolder]">
      <mat-card *ngFor="let animal of animals.slice(0, 6); index as i" class="selection mat-elevation-z10">
        <mat-card-content>
          <img [id]="animal" *ngIf="i === 0" #choiceImg cdkDrag src="{{'/assets/images/animals/' + animal + '.png'}}" alt="{{animal}}" class="choice"/>
          <span *ngIf="i != 0" class="other-choices">{{animal}}</span>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="animals.length === 0">All Done!!!</mat-card>
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <span id="wild" #wildHolder="cdkDropList" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="resultWild" [cdkDropListEnterPredicate]="isWildAllowed">
      <mat-card class="category-card">
        <mat-card-content>
          <img src="/assets/images/backgrounds/jungle.png" class="category mat-elevation-z2"/>
          <img *ngFor="let animal of resultWild" [src]="'/assets/images/animals/' + animal + '.png'" class="animal-result {{animal}}"/>
        </mat-card-content>
      </mat-card>
    </span>
    <mat-grid-tile-footer>Wild</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
