.category {
  height: 90%;
  width: 90%;
  object-fit: cover;
  z-index: -1;
}

.mat-grid-list {
  height: 55vh;
}

.selection {
  width: 15vw;
  font-size: 2em;
  text-align: center;
}

.category-card {
}

.choice {
  object-fit: cover;
  height: 90%;
  width: 90%;
}

.other-choices {
  font-size: medium;
}

.cdk-drag-placeholder {
  display:none;
}

.cdk-overlay-container {
  z-index: 10000 !important;
}

.animal-result {
  width: 10%;
  height: 10%;
  object-fit: scale-down;
  position: absolute;
}

.cow { left: 72.91%; top: 38.93%; width: 8%; height: 8%}
.hen { left: 6.51%; top: 44.21%; width: 5%; height: 5%}
.sheep { left: 16.18%; top: 52.55%; width: 6%; height: 6%}
.cat { left: 72.24%; top: 66.04%; width: 7%; height: 7%}
.dog { left: 78.91%; top: 55.06%; width: 7%; height: 7%}
.horse { left: 38.87%; top: 44.07%; width: 12%; height: 12%}
.pig { left: 74.57%; top: 25.72%; width: 6%; height: 6%}
.lion { left: 57.06%; top: 50.89%; width: 13%; height: 13%}
.tiger { left: 4.67%; top: 38.37%; width: 10%; height: 10%}
.bear { left: 25.86%; top: 33.37%; width: 10%; height: 10%}
.elephant { left: 36.70%; top: 27.11%; width: 14%; height: 14%}
.dear { left: 48.38%; top: 34.76%; width: 10%; height: 10%}
.zebra { left: 56.72%; top: 38.93%; width: 10%; height: 10%}
.wolf { left: 42.00%; top: 47.25%; width: 8%; height: 8%}
