<mat-radio-group aria-label="Select what to show" [(ngModel)]="show">
  <mat-radio-button value="1">Relationship</mat-radio-button>
  <mat-radio-button value="2">Name</mat-radio-button>
  <mat-checkbox [(ngModel)]="showSecond" style="float: right;" (change)="updateSetting()">Show All</mat-checkbox>

  <mat-card *ngFor="let person of getFamilyData().slice(0, showSecond ? 9999 : 1)">
    <div class="tree" id="FamilyTreeDiv-{{person.name}}" fxLayout="row" fxLayoutAlign="center">
      <ul>
        <ng-template
          [ngTemplateOutlet]="nodeTemplateRef"
          [ngTemplateOutletContext]="{ $implicit: person }">
        </ng-template>
      </ul>
    </div>
  </mat-card>
</mat-radio-group>

<ng-template #personTemplateRef let-person>
  <span *ngIf="person" [class]="person.gender">
    <mat-card>
      <mat-card-content *ngIf="person.pics">
        <img *ngIf="person.pics?.length > 0" class="person-pic" src="/assets/family/images/{{person.pics[getPicIndex(person)]}}" alt="{{person.name | titlecase}}">
        <span *ngIf="person.pics?.length === 0">{{person.name}}</span>
      </mat-card-content>
      <mat-card-footer>{{(this.show === "1" ? person.relationship : person.name) | titlecase}}</mat-card-footer>
    </mat-card>
  </span>
</ng-template>

<ng-template #nodeTemplateRef let-person>
  <li>
    <div>
      <ng-template ngFor [ngForOf]="[person]" [ngForTemplate]="personTemplateRef"></ng-template>
      <span class="spacer" *ngIf="person.spouse"></span>
      <ng-template ngFor [ngForOf]="[people.get(person.spouse)]" [ngForTemplate]="personTemplateRef"></ng-template>
    </div>
    <ul *ngIf="person.kids?.length > 0">
      <ng-template ngFor [ngForOf]="person.kids" [ngForTemplate]="nodeTemplateRef"></ng-template>
    </ul>
  </li>
</ng-template>
