.app-title {
  font-weight: bolder;
}

.app-menu {
  vertical-align: text-bottom;
}

.app-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  border-radius: 5px;
  background-color: cornflowerblue;
  background-image:
    linear-gradient(
        to right,
        #b264ed,
        #3c0e5a 30%
    );
}
