<mat-toolbar color="primary">
  <a [matMenuTriggerFor]="menu" aria-label="Open Menu" class="clickable">
    <mat-icon>menu</mat-icon>
  </a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateMenu('phonics')">
      <mat-icon>text_snippet</mat-icon>
      <span>Phonics</span>
    </button>
    <button mat-menu-item (click)="navigateMenu('maths')">
      <mat-icon>exposure</mat-icon>
      <span>Maths</span>
    </button>
  </mat-menu>
  <span>Pre-K Play</span>
  <span class="app-spacer"></span>
  <mat-icon aria-hidden="false" aria-label="Pre-K Play">sports_soccer</mat-icon>
</mat-toolbar>

<span><router-outlet></router-outlet></span>
