<mat-toolbar color="primary">
  <span>Pre-K Play</span>
  <span class="app-spacer"></span>
  <mat-icon aria-hidden="false" aria-label="Pre-K Play">sports_soccer</mat-icon>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs>
  <mat-tab label="3 Letter Words">
    <div>Three Letter words</div>
    <mat-icon aria-hidden="false" aria-label="Show All">task_alt</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Shuffle Words">shuffle</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Pick Manually">rule</mat-icon>
  </mat-tab>
  <mat-tab label="Second tab">
    <div>Second Tab</div>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
