<div>
  <span class="app-spacer"></span>
  <mat-form-field class="filter-chip-list" appearance="outline">
    <mat-label>
      <mat-icon>search</mat-icon>
      Filter Syllables
    </mat-label>
    <mat-chip-list #chipList aria-label="Syllables">
      <mat-chip *ngFor="let filter of filters" [selectable]="selectable" [removable]="removable" (removed)="remove(filter)">
        {{filter}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input matInput placeholder="Separate each syllable with comma/enter/space"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             matChipInputAddOnBlur="true"
             (matChipInputTokenEnd)="addFilter($event)" autocomplete="off">
    </mat-chip-list>
  </mat-form-field>
  <span class="actions">
    <button mat-button color="primary" (click)="saveSearch()" *ngIf="isFilterChanged"><mat-icon aria-label="Save Search">saved_search</mat-icon></button>
    <button mat-button color="primary" (click)="deSelectAll()"><mat-icon matBadge="{{selected.length > 0 ? selected.length : ''}}" aria-label="Deselect">unpublished</mat-icon></button>
    <button mat-button color="primary" (click)="shuffleAll()"><mat-icon aria-label="Shuffle">shuffle</mat-icon></button>
    <button mat-button color="primary" (click)="showWordsToRead()"><mat-icon aria-label="Play">play_circle</mat-icon></button>
  </span>
</div>

<mat-grid-list cols="{{columnCount}}" rowHeight="2:1">
  <mat-grid-tile matRipple *ngFor="let word of getFiltered()" [ngClass]="(word.resources?.length==0)?' word-tile':'word-pic-tile'"
                 (dblclick)="word.resources?.length!=0 && showPic(word)">
    <mat-checkbox (change)="select($event.checked, word)" [(ngModel)]="word.selected">
      <span>{{word.word | lowercase}}</span>
    </mat-checkbox>
  </mat-grid-tile>
</mat-grid-list>
