<mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
  <mat-tab label="Reading Words">
    <div>
      <mat-form-field class="filter-chip-list">
        <mat-label>Add one or more syllables to filter</mat-label>
        <mat-chip-list #chipList aria-label="Syllables">
          <mat-chip *ngFor="let filter of filters" [selectable]="selectable" [removable]="removable" (removed)="remove(filter)">
            {{filter}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Syllables..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 matChipInputAddOnBlur="true"
                 (matChipInputTokenEnd)="addFilter($event)" autocomplete="off">
        </mat-chip-list>
      </mat-form-field>
      <mat-icon aria-label="Shuffle" class="clickable" (click)="shuffleAll()">shuffle</mat-icon>
      <mat-icon aria-label="Play" class="clickable" (click)="showWordsToRead()">play_circle</mat-icon>
    </div>

    <mat-grid-list cols="{{columnCount}}" rowHeight="2:1">
      <mat-grid-tile matRipple *ngFor="let word of getFiltered()" [ngClass]="(word.resources?.length==0)?' word-tile':'word-pic-tile'" (click)="showPic(word)">
        <span class="word-item">{{word.word | lowercase}}</span>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-tab>
  <mat-tab label="Match Words with Pictures"> Content 1 </mat-tab>
</mat-tab-group>
