.filter-words-field {
  width: 200px;
}

.word-item {
  font-size: xx-large;
}

.word-tile {
  background-color: lightgray;
  cursor: pointer;
}

.word-pic-tile {
  background-color: lightblue;
  cursor: pointer;
}
