<mat-icon tabindex="3" (click)="close()" style="float: right; top:-8px; right:-8px;"
          xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">close</mat-icon>
<h1>Read Words ({{this.words.length - this.displayIndex -1}} more to go)</h1>
<mat-dialog-content>
  <mat-grid-list cols="7" rowHeight="fit" fxLayout="row" fxLayoutAlign="center" style="height: 60vh">
    <mat-grid-tile mat-ripple class="nav-left-item nav-item" (click)="prev()">
      <mat-icon *ngIf="displayIndex>0" class="nav-item-icon">arrow_left</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile #wordTile colspan="5" [ngClass]="(getWord().resources?.length==0)?' word-tile':'word-pic-tile'" [ngStyle]="{'font-size': fontSize + 'em'}" (dblclick)="!allDone() && showPic()">
      <span #wordSpan id="wordSpan" *ngIf="!allDone()" [ngClass]="{'word-with-pic':getWord()?.resources?.length}">
        <span *ngFor="let char of getWord().word.split('')" [ngStyle]="{'color': (data.vowels.indexOf(char) === -1) ? consonantColor : vowelColor}">
          {{char | lowercase}}
        </span>
      </span>
      <canvas #wordCanvas id="wordCanvas" [width]="getWidth() * .8" [height]="getHeight() * .6">
      </canvas>
      <p *ngIf="allDone()">All Done! <mat-icon>mood</mat-icon><mat-icon>thumb_up</mat-icon></p>
      <span class="word-controls">
        <button mat-button mat-ripple color="primary" class="word-control-item" (click)="toggleTextSizeInput()"><mat-icon *ngIf="!showTextSizeInput">format_size</mat-icon></button>
        <mat-slider *ngIf="showTextSizeInput" (change)="updateFontSize()" min="1" max="15" [step]="0.1" [(ngModel)]="fontSize"></mat-slider>
        <button mat-button mat-ripple color="primary" class="word-control-item" (click)="hideWord(getWord().word)"><mat-icon>visibility_off</mat-icon></button>
        <button mat-button mat-ripple color="primary" class="word-control-item" (click)="clearCanvas()"><mat-icon class="clear-canvas-btn">clear</mat-icon></button>
      </span>
      <span class="color-controls">
        <mat-icon mat-ripple class="color-picker" style="color: #000000;" (click)="setColor('#000000')">circle</mat-icon>
        <mat-icon mat-ripple class="color-picker" style="color: #8F00FF;" (click)="setColor('#8F00FF')">circle</mat-icon>
        <mat-icon mat-ripple class="color-picker" style="color: #4B0082;" (click)="setColor('#4B0082')">circle</mat-icon>
        <mat-icon mat-ripple class="color-picker" style="color: #0000FF;" (click)="setColor('#0000FF')">circle</mat-icon>
        <mat-icon mat-ripple class="color-picker" style="color: #008000;" (click)="setColor('#008000')">circle</mat-icon>
        <mat-icon mat-ripple class="color-picker" style="color: #00FF00;" (click)="setColor('#00FF00')">circle</mat-icon>
        <mat-icon mat-ripple class="color-picker" style="color: #FFFF00;" (click)="setColor('#FFFF00')">circle</mat-icon>
        <mat-icon mat-ripple class="color-picker" style="color: #FFA500;" (click)="setColor('#FFA500')">circle</mat-icon>
        <mat-icon mat-ripple class="color-picker" style="color: #FF0000;" (click)="setColor('#FF0000')">circle</mat-icon>
        <input tabindex="2" type="color" (change)="updateColorSelection()" [(ngModel)]="color">
      </span>
    </mat-grid-tile>
    <mat-grid-tile mat-ripple class="nav-right-item nav-item" (click)="next()">
      <mat-icon *ngIf="displayIndex<words.length-1" class="nav-item-icon">arrow_right</mat-icon>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button tabindex="1" mat-raised-button color="primary" (click)="!allDone() && showPic()" autofocus [disabled]="getWord().resources?.length == 0">Show</button>
</mat-dialog-actions>
