@import "../../app-style.scss";

.nav-item {
  border: none;
  font-size: xxx-large;
  font-weight: bold;
  cursor: pointer;
  background-color: lightgray;
}

.nav-left-item {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.nav-right-item {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.word-tile, .word-pic-tile {
  text-shadow: 2px 2px;
  font-size: 10em;
  letter-spacing: .2em;
  user-select: none;
}

.word-tile {
  background-image: $no-pic-word-gradient;
}

.word-pic-tile {
  background-image: $with-pic-word-gradient;
}

#wordCanvas {
  position: absolute;
  touch-action: none;
}

.color-controls {
  position: absolute;
  bottom: 3px;
  right: 2px;
}

.word-controls {
  cursor: pointer;
  font-size: medium;
  text-shadow: none;
  position: absolute;
  right: 2px;
  top: 5px;
}

.color-picker {
  padding-left: 3px;
  padding-right: 3px;
  text-shadow: none;
  cursor: pointer;
}

