<h2>Drag all Vowels to the Vowels box</h2>
<span style="position: absolute; top: 10px; right: 10px;">
  <mat-icon (click)="prep()" style="cursor: pointer; vertical-align: bottom;">restart_alt</mat-icon>
</span>
<mat-grid-list cdkDropList #letters="cdkDropList" [cdkDropListData]="choices"
               [cdkDropListConnectedTo]="[vowels, consonants]"
               [cols]="columns" rowHeight="fit" style="height: 55vh">
  <mat-grid-tile *ngFor="let choice of choices; let i = index">
      <span id="choice_{{choice}}" class="choices" cdkDrag [ngStyle]="{'color': (choiceColor)}">{{choice}}</span>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list [cols]="9" rowHeight="fit" style="height: 20vh">
  <mat-grid-tile cdkDropList #vowels="cdkDropList" [cdkDropListData]="vowelSelection"
                 [cdkDropListConnectedTo]="letters"
                 (cdkDropListDropped)="drop($event)"
                 [cdkDropListEnterPredicate]="isVowel"
                 [colspan]="5" style="background-color: lightgray; border-radius: 20px;">
    <span class="vowel-container" *ngIf="getVowelCount(); else allDone">Found
        [<span class="selected" [ngStyle]="{'color': (choiceColor)}" *ngFor="let v of vowelSelection">{{v}}</span>]
        Remaining {{getVowelCount()}} Vowels
    </span>
    <ng-template #allDone>
      <span class="vowel-container success">Found all the Vowels -
        <span style="color: black; padding: 2px;">a</span>
        <span style="color: black; padding: 2px;">e</span>
        <span style="color: black; padding: 2px;">i</span>
        <span style="color: black; padding: 2px;">o</span>
        <span style="color: black; padding: 2px;">u</span>
      </span>
    </ng-template>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input type="number" min="1" max="20" matInput [(ngModel)]="columns" (change)="prep()">Letters Per Row
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile cdkDropList #consonants="cdkDropList" [cdkDropListData]="consonantSelection"
                 [cdkDropListConnectedTo]="letters"
                 (cdkDropListDropped)="drop($event)"
                 [cdkDropListEnterPredicate]="isConsonant"
                 [colspan]="3" style="background-color: #e8d9f3; border-radius: 20px;">
    <span class="consonant-container">Not a Vowel -
        [<span class="selected" [ngStyle]="{'color': (choiceColor)}" *ngFor="let c of consonantSelection">{{c}}</span>]
    </span>
  </mat-grid-tile>
</mat-grid-list>
