<mat-grid-list cdkDropList #letters="cdkDropList" [cdkDropListData]="choices"
               [cdkDropListConnectedTo]="[vowels, consonants]"
               [cols]="columns" rowHeight="fit" style="height: 55vh">
  <mat-grid-tile class="choices" *ngFor="let choice of choices; let i = index">
      <span id="choice_{{choice}}" cdkDrag [ngStyle]="{'color': (choiceColor)}">{{choice}}</span>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list [cols]="9" rowHeight="fit" style="height: 30vh">
  <mat-grid-tile cdkDropList #vowels="cdkDropList" [cdkDropListData]="vowelSelection"
                 [cdkDropListConnectedTo]="letters"
                 (cdkDropListDropped)="drop($event)"
                 [cdkDropListEnterPredicate]="isVowel"
                 [colspan]="5" style="background-color: lightgray; border-radius: 20px;">
    <span class="vowel-container" *ngIf="getVowelCount(); let count; else allDone">Find {{count}} Vowel{{count > 1 ? 's' : ''}}</span>
    <ng-template #allDone>
      <span class="vowel-container success">Found all the
        <span style="color: black; padding: 2px;">a</span>
        <span style="color: black; padding: 2px;">e</span>
        <span style="color: black; padding: 2px;">i</span>
        <span style="color: black; padding: 2px;">o</span>
        <span style="color: black; padding: 2px;">u</span>
      </span>
    </ng-template>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input type="number" min="1" max="15" matInput [(ngModel)]="columns" (change)="prep()">Letters Per Row
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile cdkDropList #consonants="cdkDropList" [cdkDropListData]="consonantSelection"
                 [cdkDropListConnectedTo]="letters"
                 (cdkDropListDropped)="drop($event)"
                 [cdkDropListEnterPredicate]="isConsonant"
                 [colspan]="3" style="background-color: #e8d9f3; border-radius: 20px;">
    <span class="consonant-container">Not a Vowel</span>
  </mat-grid-tile>
</mat-grid-list>
