<mat-tab-group class="mat-elevation-z4">
  <mat-tab label="Seasons">
    <mat-grid-list cols="2" rowHeight="fit" style="height: calc(100vh - 8.5em)">
      <mat-grid-tile class="season-rainy">
        Rainy (Monsoon) Season
      </mat-grid-tile>
      <mat-grid-tile class="season-fall">
        Autumn (Fall) Season
      </mat-grid-tile>
      <mat-grid-tile class="season-winter">
        Winter Season
      </mat-grid-tile>
      <mat-grid-tile class="season-summer">
        Summer Season
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Animals & Houses">
  </mat-tab>
  <mat-tab label="Animal & Babies">
  </mat-tab>
  <mat-tab label="Transportation">
  </mat-tab>
</mat-tab-group>
