.mat-dialog-content {
  max-height: 100vh;
  height: 100vh;
}

.theme-band {
  box-sizing: border-box;
  background: white;
}

.theme-pic {
  object-fit: scale-down;
  justify-content: center;
  box-sizing: border-box;
  background: white;
  width: 80%;
  height: 45vh;
  padding: 1em;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

.choice-pic {
  object-fit: scale-down;
  justify-content: center;
  box-sizing: border-box;
  background: white;
  width: 90%;
  height: 15vh;
  padding: 3px;
}

.nav-button {
  height: 6em;
  width: 6em;
  border-radius: 50%;
  background-color: lightgray;
}

.choice-category, .answer-category {
  border-radius: 2px;
  padding: 4px;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

.answer-category {
}
