.mat-dialog-content {

}

.theme-band {
  box-sizing: border-box;
  background: white;
}

.theme-pic {
  object-fit: scale-down;
  justify-content: center;
  box-sizing: border-box;
  background: white;
  width: 80%;
  height: 60vh;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3em;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

.mat-button {
  background-color: lightgray;
  height: 6em;
  width: 6em;
  border-radius: 50%;
}
