.mat-card-image {
  object-fit: scale-down;
  justify-content: center;
  box-sizing: border-box;
  background: white;
}

.theme-pic {
  width: 80%;
  height: 60vh;
  box-sizing: border-box;
  background: white;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3em;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

.mat-grid-list {
  padding-bottom: 2em;
}

.mat-card {
  height: 95%;
}

.mat-button {
  background-color: lightgray;
  height: 6em;
  width: 6em;
  border-radius: 50%;
}
