<h3 *ngIf="data.context" mat-dialog-title>{{data.context | titlecase}}</h3>
<mat-dialog-content>
  <mat-grid-list cols="15" rowHeight="28em" fxLayout="row" fxLayoutAlign="center" class="theme-band">
    <mat-grid-tile>
      <button [disabled]="displayIndex == 0" mat-button class="nav-button"><mat-icon (click)="prev()">arrow_left</mat-icon></button>
    </mat-grid-tile>
    <mat-grid-tile colspan="13" [class.selection-success]="isSuccess()">
      <img mat-card-image class="theme-pic" src="{{getThemePic()}}"/>
    </mat-grid-tile>
    <mat-grid-tile>
      <button [disabled]="displayIndex == data.themePics.length - 1" mat-button class="nav-button"><mat-icon (click)="next()">arrow_right</mat-icon></button>
    </mat-grid-tile>
  </mat-grid-list>
  <h4 *ngIf="!isSuccess()" fxLayout="row" fxLayoutAlign="center">{{data.subject}}</h4>
  <h4 *ngIf="isSuccess()" fxLayout="row" fxLayoutAlign="center">{{data.success}}</h4>
  <mat-divider></mat-divider>
  <div cdkDropList id="answerList" [cdkDropListData]="answers" [cdkDropListConnectedTo]="['choiceList']" (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="allowDrag">
    <mat-grid-list [cols]="answers.length" rowHeight="10em" fxLayout="row" fxLayoutAlign="center" class="answer-category">
      <mat-grid-tile *ngFor="let answer of answers">
        <img mat-card-image cdkDrag class="choice-pic" src="{{getPic(answer)}}" alt="{{answer.name}}"/>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-divider></mat-divider>
  <div cdkDropList id="choiceList" [cdkDropListData]="choices" [cdkDropListConnectedTo]="['answerList']" (cdkDropListDropped)="drop($event)">
    <mat-grid-list [cols]="choices.length" rowHeight="10em" fxLayout="row" fxLayoutAlign="center" class="choice-category">
      <mat-grid-tile *ngFor="let item of choices">
        <img id="{{relations.get(item.name) + ':' + item.name}}" mat-card-image cdkDrag class="choice-pic" src="{{getPic(item)}}" alt="{{item.name}}"/>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close style="position:absolute; top:0; right:0;"><mat-icon>close</mat-icon></button>
</mat-dialog-actions>
