.minute-hand {
  fill:rgba(255,10,0,0.60);
  stroke:rgba(255,10,0,0.62);
  stroke-width:1;
  transform-origin:50% 50%;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .9));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .9));
  z-index: 10;
}

.hour-hand {
  fill:rgba(255,10,0,0.60);
  stroke:rgba(255,10,0,0.62);
  stroke-width:1;
  transform-origin:50% 50%;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .9));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .9));
  z-index: 20;
}

.clock-numbers {
  fill:black;
  stroke:#000000;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .9));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .9));
  user-select: none;
}

.tick {
  fill:black;
  stroke-width:1;
  transform-origin:50% 50%;
  user-select: none;
}

.quad-marker {
  stroke:gray;
  stroke-width:2;
  stroke-opacity: 30%
}

.left-face {
  stop-color:#aeefae;
  stop-opacity:1;
}

.right-face {
  stop-color:lightyellow;
  stop-opacity:1;
}

.time-box {
  font-size: xxx-large;
  text-shadow: 1px 1px 2px black;
}

.refresh-time {
  cursor: pointer;
  vertical-align: top;
}

.mat-card-header {
  font-weight: bolder;
  font-size: x-large;
  text-shadow: 1px 1px 2px black;
}

.time-label {
  font-size: xx-large;
}

.quarter-past-label {
  font-size: xxx-large;
  fill: yellow;
  stroke: darkgoldenrod;
  text-shadow: 1px 1px 4px black;
  user-select: none;
}

.half-past-label {
  font-size: xxx-large;
  fill: darkgray;
  stroke: black;
  text-shadow: 1px 1px 4px black;
  user-select: none;
}

.quarter-to-label {
  font-size: xxx-large;
  fill: lightgreen;
  stroke: green;
  text-shadow: 1px 1px 4px black;
  user-select: none;
}

.o-clock-label {
  font-size: xxx-large;
  fill: darkgray;
  stroke: black;
  text-shadow: 1px 1px 4px black;
  user-select: none;
}

.clock-options {
  width: 30vw;
}

.clock-options-header {
  font-size: xx-large;
  height: 1.3em
}

.clock-face {
 }
