<mat-grid-list cols="2" rowHeight="30vh">
  <mat-grid-tile class="clock-face" rowspan="3">
    <svg #svgClock class="svg clock-face" [attr.width]="svgSize" [attr.height]="svgSize"
         (mousemove)="clockHandMovementTracker && handleClockHandMove($event.offsetX, $event.offsetY)"
         (mouseup)="clockHandMovementTracker && endClockHandMove()"
         (touchstart)="startHandTouchMove($event, ClockHandType.HOUR)"
    >
      <defs>
        <linearGradient id="clockgradient" x1="0%" y1="50%" x2="100%" y2="50%">
          <stop class="left-face" offset="0%"/>
          <stop class="left-face" offset="49.8%"/>
          <stop class="right-face" offset="50.2%"/>
          <stop class="right-face" offset="100%"/>
        </linearGradient>
      </defs>
      <circle class="circle" cx="50%" cy="50%" stroke="green" stroke-width="4" fill="url(#clockgradient)" [attr.r]="clockRadius"/>
      <circle cx="50%" cy="50%" r="1%" stroke="black" stroke-width="1" fill="black" />
      <line class="quad-marker" x1="0%" y1="50%" x2="100%" y2="50%"/>
      <line class="quad-marker" x1="50%" y1="0%" x2="50%" y2="100%"/>
      <rect *ngFor="let tick of getTicks(60);" class="rect tick" x="50%" y="50%"
            [attr.width]="getTickWidth(tick)"
            [attr.height]="getTickHeight(tick)"
            [attr.transform]="getTickTransform(tick)"/>
      <text *ngFor="let tick of getHourTicks()" class="text clock-numbers"
            [attr.x]="getX(tick, 60)"
            [attr.y]="getY(tick, 60)"
            [attr.font-size]="getTextSize(tick)"
            [attr.transform]="getHourMarkerTransform(tick)">
        {{getTickHourValue(tick)}}
      </text>
      <text [id]="'quad' + tick" *ngFor="let tick of getMinuteTicks()" class="text clock-numbers"
            [attr.x]="getX(tick, 60, .3, -0.05)"
            [attr.y]="getY(tick, 60, .3, -0.05)"
            [attr.font-size]="getTextSize(tick)"
            [attr.transform]="getMinuteMarkerTransform(tick)">
        {{tick}}
      </text>
      <text *ngIf="clockOptions.showQuarterPast" x="88%" y="49%" class="quarter-past-label">
        <tspan x="88%" dy=".6em">quarter</tspan>
        <tspan x="88%" dy="1.2em">past</tspan>
      </text>
      <text *ngIf="clockOptions.showHalfPast" x="43%" y="89%" class="half-past-label">
        <tspan x="43%" dy=".6em">half</tspan>
        <tspan x="43%" dy="1.2em">past</tspan>
      </text>
      <text *ngIf="clockOptions.showQuarterTo" x="1%" y="45%" class="quarter-to-label">
        <tspan x="1%" dy=".6em">quarter</tspan>
        <tspan x="1%" dy="1.2em">to</tspan>
      </text>
      <text *ngIf="clockOptions.showOClock" x="45%" y="12%" class="o-clock-label">O' Clock</text>
      <polygon *ngIf="clockOptions.showHourHand"
               class="polygon hour-hand"
               [attr.fill]="clockHandMovementTracker?.hand === ClockHandType.HOUR  ? 'rgba(22,225,187,0.78)' : 'rgba(255,10,0,0.60)'"
               [attr.stroke]="clockHandMovementTracker?.hand === ClockHandType.HOUR ? 'rgba(22,225,187,0.78)' : 'rgba(255,10,0,0.60)'"
               [attr.points]="getHourHandPoints()"
               [attr.transform]="getHourTransform()"
               (mousedown)="startHandMove($event.offsetX, $event.offsetY, ClockHandType.HOUR)"
               (touchstart)="startHandTouchMove($event, ClockHandType.HOUR)"
      />
      <polygon *ngIf="clockOptions.showMinuteHand"
               class="polygon minute-hand"
               [attr.fill]="clockHandMovementTracker?.hand === ClockHandType.MINUTE ? 'rgba(22,225,187,0.78)' : 'rgba(255,10,0,0.60)'"
               [attr.stroke]="clockHandMovementTracker?.hand === ClockHandType.MINUTE ? 'rgba(22,225,187,0.78)' : 'rgba(255,10,0,0.60)'"
               [attr.points]="getMinuteHandPoints()"
               [attr.transform]="getMinuteTransform()"
               (mousedown)="startHandMove($event.offsetX, $event.offsetY, ClockHandType.MINUTE)"
               (touchstart)="startHandTouchMove($event, ClockHandType.MINUTE)"
      />
      <polygon *ngIf="clockOptions.showSecondHand"
               class="polygon second-hand"
               [attr.fill]="clockHandMovementTracker?.hand === ClockHandType.SECOND ? 'rgba(22,225,187,0.78)' : 'rgba(255,10,0,0.30)'"
               [attr.stroke]="clockHandMovementTracker?.hand === ClockHandType.SECOND ? 'rgba(22,225,187,0.78)' : 'rgba(255,10,0,0.30)'"
               [attr.points]="getSecondHandPoints()"
               [attr.transform]="getSecondTransform()"
               (mousedown)="startHandMove($event.offsetX, $event.offsetY, ClockHandType.SECOND)"
               (touchstart)="startHandTouchMove($event, ClockHandType.SECOND)"
      />
    </svg>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <mat-card class="clock-options">
      <mat-card-header class="clock-options-header">Clock Options</mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Configure Hours</mat-panel-title>
              <mat-panel-description>Major, minor ticks and Hand</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.show1HourMarkers">Show 1 hour markers</mat-checkbox><br>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.show5HourMarkers">Show 5 hour markers</mat-checkbox><br>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.showHourHand">Show Hour hand</mat-checkbox>
            </mat-card>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Configure Minutes</mat-panel-title>
              <mat-panel-description>Major, minor ticks and Hand</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.show1MinuteMarkers">Show 1 minute markers</mat-checkbox><br>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.show5MinuteMarkers">Show 5 minute markers</mat-checkbox><br>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.show15MinuteMarkers">Show 15 minute markers</mat-checkbox><br>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.showMinuteHand">Show Minute hand</mat-checkbox>
            </mat-card>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Configure Seconds</mat-panel-title>
              <mat-panel-description>Show/Hide</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.showSecondHand">Show Second hand</mat-checkbox>
            </mat-card>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Configure Labels</mat-panel-title>
              <mat-panel-description>Quarter/Half past/to labels and Time box</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.showOClock">Show O' clock</mat-checkbox><br>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.showQuarterPast">Show Quarter past</mat-checkbox><br>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.showHalfPast">Show Half past</mat-checkbox><br>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.showQuarterTo">Show Quarter to</mat-checkbox><br>
              <mat-checkbox (change)="saveClockOptions()" [(ngModel)]="clockOptions.showTimeText">Show Time in text</mat-checkbox>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card *ngIf="clockOptions.showTimeText" class="time-box">
      <mat-card-header>Time</mat-card-header>
      <mat-form-field>
        <mat-label class="time-label">Hours</mat-label>
        <input matInput type="number" [(ngModel)]="hh" (change)="normalizeTime()" maxlength="2">
      </mat-form-field>
      <span *ngIf="clockOptions.showMinuteHand">:</span>
      <mat-form-field *ngIf="clockOptions.showMinuteHand">
        <mat-label class="time-label">Minutes</mat-label>
        <input matInput type="number" [(ngModel)]="mm" (change)="normalizeTime()" maxlength="2">
      </mat-form-field>
      <span *ngIf="clockOptions.showSecondHand">:</span>
      <mat-form-field *ngIf="clockOptions.showSecondHand">
        <mat-label class="time-label">Seconds</mat-label>
        <input matInput type="number" [(ngModel)]="ss" (change)="normalizeTime()" maxlength="2">
      </mat-form-field>
      <mat-icon class="refresh-time" (click)="refreshTime()">refresh</mat-icon>
    </mat-card>
    <mat-card>
      {{svgClock.getClientRects().item(0)?.x}},{{svgClock.getClientRects().item(0)?.y}}
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

